# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
myenv/
env/
venv/

# Django
GladProj/staticfiles/
GladProj/db.sqlite3
media/

# Node / React
node_modules/
build/
dist/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Environment variables
*.env
.env
